body{
	margin: 0;
	padding: 0;
}
img{display: block;}
h2{
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	padding-top: 60px;
	padding-bottom: 45px;
	margin: 0;
}
p{line-height: 20px;}
.email-page{
	min-width: 320px;
	overflow-x: hidden;
	height: 100%;
	background-color: #fff;
	background-image: url(../img/bg.jpg);
	padding: 45px 0;
}
.email-wrap{
	max-width: 600px;
	height: 100%;
	margin: 0 auto;
	background-color: #fff;
	padding: 40px 0 0;
	border: 2px solid #e9e9e9;
	font-family: 'Trebuchet MS','Helvetica', sans-serif;
	font-size: 16px;
	color: #0a0a0a;
}
.email-header{padding: 0 26px;}
.email-header-text,.logo{
	display: inline-block;
	vertical-align: top;
}
.email-header-text{
	margin-left: 40px;
}
.header-text-bold{
	font-weight: bold;
	line-height: 22px;
}
.header-text-descr{
	line-height: 20px;
	margin-top: 22px;
}
.header-text-descr b{text-transform: uppercase;}
.services-img{
	display: inline-block;
	padding-left: 26px;
	padding-right: 26px;
	padding-bottom: 26px;
}
.email-services{text-align: center;}
.email-services img {
	width: 100%;
	height: auto;
}
.email-no-services{text-align: center;}
.email-no-services h2{padding-top: 22px;}
.email-no-services-item{width: 244px;display: inline-block;padding-left: 26px;padding-right: 26px;margin-bottom: 20px;}
.email-no-services-item img{width: 100%;height: 100%;}
.email-our{padding-top: 40px;text-align: center;}
.email-our-img{
	padding: 0 26px;
	margin-bottom: 15px;
}
.email-our-img img{width: 100%;height: auto;}
.email-our-img, .email-our-text{
	width: 244px;
	display: inline-block;
	vertical-align: middle;
}
.email-our-text{padding: 0 26px;text-align: left;}
.email-target h2{
	font-weight: bold;
	font-size: 16px;
	padding: 35px 26px 30px;
}
ul, li{
	list-style: none;
	padding: 0;
	margin: 0;
}
.email-target{}
.email-target ul{
	width: 260px;
	padding: 0 26px;
	display: inline-block;

}
.email-target img{float: right;padding-right: 30px;padding-top: 20px;}
.email-target ul li{
	padding-bottom: 22px;
	padding-left: 28px;
	background-image: url(../img/circle.png);
	background-repeat: no-repeat;
	background-position: top 5px left;
}
.logo-block{
	padding-top: 30px;
	vertical-align: middle;
}
.logo-block-text{font-weight: bold;display: inline-block;vertical-align: middle;padding: 0 26px;}
.logo-bottom{
	display: inline-block;
	height: 50px;

}
.email-advantages{}
.advantages-item{
	height: auto;
	width: 100%;
	margin-bottom: 20px;
}
.advantages-item-img img{width: 100%;}
.email-projects{
	margin-top: 35px;
	background-color: #f3f3f3;
	padding: 20px 26px;
	text-align: center;
}
.projects-text{
	text-align: center;
}
.projects-links-block{
	margin-top: 20px;
}
.projects-link{font-weight: bold;text-transform: uppercase;text-decoration: none;color: #0a0a0a;}

.email-mail h2{
	padding: 35px 0;
}
.mail-block{
	background-image: url(../img/grad-bg.jpg);
	text-align: center;
	color: #fff;
	padding: 25px 26px;
}
.mail-block a{
	color: #fff;
	font-weight: bold;
	text-decoration: none;
}
.email-footer{
	padding: 25px 26px;
	background-color: #fff;
	font-size: 14px;

}
.footer-left{
	float: left;
	display: inline-block;
	margin-bottom: 25px;
}
.footer-right{
	float: right;
	display: inline-block;
	text-align: right;
}
.footer-right b{display: block;margin-bottom: 5px;}
.footer-right a{color: #0a0a0a;text-decoration: none;}
@media screen and (max-width: 600px){
	.email-header-text{
		margin-left: 0;
	}
	.email-services-item{
		max-width: 240px;
	}
	.logo-bottom{padding: 0 10px;}

}
@media screen and (max-width: 557px){
	.logo-block-text{display: block;text-align: center;}
	.logo-bottom{float: none;margin: 0 auto; margin-top: 15px;}
	.logo-block{text-align: center;}
	.email-target img{float: none;margin: 0 auto;padding-right: 0;}
	.email-target ul{width: 90%;}
	h2{
		padding-top: 35px;
		padding-bottom: 30px;
	}
	.email-header{text-align: center;}
	.email-services-item{
		max-width: 100%;
		float: none;
		margin-bottom: 30px;
	}
	.email-services-item:nth-child(odd){float: none;}
	.services-item-img{
		-webkit-background-size: cover;
		background-size: cover;
		margin-left: auto;
		width: 100%;
		border-radius: 0;
	}
	.logo-bottom img{margin: 0; float: left;margin-top: -7px;margin-right: 10px;}
	.advantages-item-img{
		width: 220px;
		height: 220px;
		margin-top: -60px;
	}
}
@media screen and (max-width: 486px){
	.footer-left,.footer-right{
		float: none;
		margin-bottom: 0;
		display: block;
		text-align: center;
	}
	.footer-right{
		margin-top: 10px;
	}
}