body{
	margin: 0;
	padding: 0;
	width: 100%;
}
img{display: block;}
h2{
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	padding-top: 60px;
	padding-bottom: 45px;
	margin: 0;
}
p{line-height: 20px;}
.email-page{
	width: 100%;
	min-width: 320px;
	overflow-x: hidden;
	min-height: 100vh;
	height: 100%;
	background-color: #fff;
	background-image: url(../img/bg.jpg);
	padding: 45px 15px;
}
.email-wrap{
	max-width: 600px;
	height: 100%;
	margin: 0 auto;
	background-color: #fff;
	padding: 40px 28px;
	border: 2px solid #e9e9e9;
	font-family: 'Trebuchet MS','Helvetica', sans-serif;
	font-size: 16px;
	color: #0a0a0a;
}
.email-header-text,.logo{
	display: inline-block;
	vertical-align: top;
}
.email-header-text{
	margin-left: 40px;
}
.header-text-bold{
	font-weight: bold;
	line-height: 22px;
}
.header-text-descr{
	line-height: 20px;
	margin-top: 22px;
}
.header-text-descr b{text-transform: uppercase;}

.email-services-item {
	display: inline-block;
	background-image: -moz-linear-gradient( 90deg, rgb(247,162,59) 0%, rgb(235,77,66) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(247,162,59) 0%, rgb(235,77,66) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(247,162,59) 0%, rgb(235,77,66) 100%);
	box-shadow: 0px 0px 17.64px 3.36px rgba(0, 0, 0, 0.17);
	max-width: 269px;
	width: 100%;
	height: 162px;
	float: left;
	margin-bottom: 38px;
	overflow: hidden;
	text-decoration: none;
	text-align: center;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: bold;
}
.email-services-item:nth-child(odd){
	float: right;
	margin-right: 0;
}
.services-item-img{
	-webkit-background-size: 269px 162px;
	background-size: 269px 162px;
	background-repeat: no-repeat;
	background-position: top 120% center;
	width: 450px;
	height: 300px;
	border-radius: 50%;
	display: block;
	background-color: #FFFFFF;
	text-align: center;
	margin-left: -91px;
	margin-top: -180px;
	overflow: hidden;
}
.services-item-img img{
	width: 269px;
	height: 100%;
}
.services-item-title{padding-top: 11px;display: block;}
.email-no-services{clear: both;}
.email-no-services h2{padding-top: 22px;}
.email-no-services-item{float: left;width: 269px;box-shadow: 0px 0px 17.64px 3.36px rgba(0, 0, 0, 0.07);}
.email-no-services-item:last-child{float: right;}
.email-no-services-item img{width: 100%;height: 100%;}
.email-our{clear: both;padding-top: 50px;}
.email-our-img{
	margin-right: 48px;
}
.email-our-img img{width: 100%;height: auto;}
.email-our-img, .email-our-text{
	width: 45%;
	display: inline-block;
	vertical-align: middle;
}
.email-target h2{
	font-weight: bold;
	font-size: 16px;
}
ul, li{
	list-style: none;
	padding: 0;
	margin: 0;
}
.email-target ul{
	width: 50%;
	display: inline-block;

}
.email-target img{float: right;padding-right: 30px;padding-top: 20px;}
.email-target ul li{
	padding-bottom: 22px;
	padding-left: 28px;
	background-image: url(../img/circle.png);
	background-repeat: no-repeat;
	background-position: top 5px left;
}







@media screen and (max-width: 600px){
	.email-header-text{
		margin-left: 0;
	}
	.email-services-item{
		max-width: 240px;
	}
	.email-no-services-item{width: 240px;}
	.email-our-img{
		margin-right: 38px;
	}
}
@media screen and (max-width: 557px){
	.email-target img{float: none;margin: 0 auto;padding-right: 0;}
	.email-target ul{width: 100%;}
	h2{
		padding-top: 35px;
		padding-bottom: 30px;
	}
	.email-header{text-align: center;}
	.email-services-item{
		max-width: 100%;
		float: none;
		margin-bottom: 30px;
	}
	.email-services-item:nth-child(odd){float: none;}
	.email-no-services-item{width: 100%;float: none;margin-bottom: 20px;}
	.services-item-img{
		-webkit-background-size: cover;
		background-size: cover;
		margin-left: auto;
		width: 100%;
		border-radius: 0;
	}
	.email-our-img{
		margin-right: 0;
	}
	.email-our-img, .email-our-text{
		width: 100%;
		text-align: center;
		display: block;
	}
}